.layout {
    background: var(--color-bg-primary);
    padding: 12px;
    border-radius: 2px;

}

.layout-header {
    display: flex;
    padding-bottom: 8px;
}
.discard-button {
    margin-left: auto;
    filter: brightness(0.6);
}