<div class="step-header">
    <span class="step-label">{{ stepNumber }}. Step:</span>
    <span class="step-label">{{ stepName }}</span>
    <div class="buttons-event-control">
        <button class="btn btn-small btn-icon" (click)="onCopy()">
            <img src="assets/copy-svgrepo-com.svg" alt="Copy" />
        </button>
        <button class="btn btn-small btn-icon" (click)="onDelete()">
            <img src="assets/trash-blank-alt-svgrepo-com.svg" alt="Delete Event" />
        </button>
    </div>
</div>

