.prop-controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    flex-wrap: wrap;
    position: relative;

    select {
        min-width: 150px;
    }

    &::before {
        content: "";
        position: absolute;
        top: -28px;
        left: -7px;
        bottom: 0;
        width: 1px;
        background: var(--color-border);
        height: 41px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0.75em;
        left: -6px;
        width: 6px;
        height: 1px;
        background: var(--color-border);
    }

    &:first-child::before {
        height: 0;
    }
    &:first-child::after {
        width: 10px;
        left: -11px;
    }
}

.and-text {
    color: var(--color-text-muted);
    position: absolute;
    top: 5px;
    left: -43px;
    font-size: 12px;
    font-weight: 600;
    padding: 0 4px;
    z-index: 1;
}

.inline-input {
    flex: 1;
    min-width: 200px;
}

.option-controls {
    display: inline-flex;
    align-items: center;
    gap: 8px;

    .and-text-between {
        color: var(--color-text-muted);
        font-size: 13px;
        font-weight: 500;
        padding: 0 4px;
        padding-right: 10px;
    }
}

.center-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0;
}

.separator {
    height: 1px;
    background: var(--color-bg-hover);
    position: relative;
    margin: 24px 0;
}

.step-content {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.event-control {
    app-step-header ::ng-deep .buttons-event-control {
        visibility: hidden;
    }
    &:hover {
        app-step-header ::ng-deep .buttons-event-control {
            visibility: visible;
        }
    }
}
