<!-- TODO -->
<!-- clear on change -->
@if (data$ | async; as data) {
    <app-layout>
        <div [formGroup]="form">
            <div [formArrayName]="'events'">
                @for (eventControl of events.controls; track $index; let i = $index) {
                    <div class="events-controls" [formGroupName]="i">
                        <select [formControlName]="'type'">
                            <option value=""></option>
                            @for (item of data.events; track $index; let idx = $index) {
                                <option [value]="idx">{{ item.type }}</option>
                            }
                        </select>
                        <div formArrayName="properties">
                            @for (propControl of getProps(eventControl).controls; track $index; let j = $index) {
                                <div class="prop-controls" [formGroupName]="j">
                                    <select [formControlName]="'property'" [value]="''">
                                        @for (item of getPropOptions(eventControl, data); track $index; let idx = $index) {
                                            <option [value]="idx">{{ item.property }}</option>
                                        }
                                    </select>
                                    <!-- <select [formControlName]="'type'">
                                        <option value="string">string</option>
                                        <option value="number">number</option>
                                    </select> -->
                                    <app-filter-dropdown (selectionChange)="setOption(propControl, $event)" />
                                    <div formArrayName="options">
                                        @for (
                                            optionControl of getOptions(propControl).controls;
                                            track $index;
                                            let k = $index;
                                            let last = $last
                                        ) {
                                            <div class="option-controls" [formGroupName]="k">
                                                <input class="inline-input" type="text" formControlName="optionValue" />
                                                @if (!last) {
                                                    <span>and</span>
                                                }
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                            <button (click)="addProp(eventControl)">addProp</button>
                        </div>
                    </div>
                    <div>----------</div>
                }
            </div>
        </div>
        <button (click)="addEvent()">addEvent</button>
    </app-layout>
    <button (click)="applyFilters()">ApplyFiltersNotfinished</button>
}
